/* Day Mode styles */
body {
	background-color: #ffffff88;
	color: #000;
}

/* Night Mode styles */
body.night-mode {
	background-color: #0000007d;
	color: #d61515;
}
button {color: red; background-color: #000;
}


.card {overflow: hidden;}
.card-body:hover{transition: transform .2s; 
	transform: scale(1.05); cursor: pointer;}
/* .no-gutters:hover{transition: transform .2s; 
	transform: scale(1.05); cursor: pointer;} */












